HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/api-keystore.p12


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local envs ###
.envs/.local/.jwt
.envs/.local/.smtp
.envs/.local/.spring
.env_prod_backend
.env_prod_frontend

### Directories ###
/src/main/resources/profile-pictures
/src/main/resources/fixtures

